<html>
    <head>
        <title>kitaabX</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <link rel="stylesheet" href="/stylesheets/index.css"/>
    </head>
    <body>
        <div class="ui fixed borderless inverted menu">
            <div class="ui container">
                <div class="header"><a href="/" class="item">kitaabX</a></div>
                <a href="/" class="item">Home</a>
                <a href="/new" class="item">New Subject</a>
            </div>
        </div>     
   