<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Subject</div>
    <form class="ui form" action="/subjects" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" placeholder="Title" name="subject[title]">    
        </div>
        <div class="field">
            <label>URL</label>
            <input type="text" placeholder="http://" name="subject[url]">    
        </div>
        <div class="field">
            <label>Body</label>
            
            <textarea placeholder="body" name="subject[body]"></textarea>
        </div>
        <div class="field">
            <label>Year</label>
            <input type="text" placeholder="year" name="subject[year]">
        </div>
        <div class="field">
            <label>Branch</label>
            <input type="text" placeholder="branch" name="subject[branch]">    
        </div>
        <input class="ui inverted orange button" type="submit">
        
        
        
        
        
        
        
    </form>
</div>
<% include ./partials/footer %>